<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_BACK_FILE" value="pss3-logger"/>
    <!--    TO-DO: Must need to change file path when deploy to server #### ${user.dir}/logs-->
    <!--    For linux user make sure to give folder or file creation permission  ####${user.dir}/logs -->
    <property name="LOG_BACK_PATH"  value="${user.dir}/dcslogs"/>
    <timestamp key="timestamp" datePattern="dd-MM-yyyy"/>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{}) %X{app-name}: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BACK_PATH}/${LOG_BACK_FILE}-${timestamp}.log</file>
        <!--    TO-DO: Need to formate logs in json format-->
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C [%t] %m%n</Pattern>

        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOG_BACK_PATH}/archived/${LOG_BACK_FILE}-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>



    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>

    </root>


    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </root>


<!--    <logger name="com.usb.pss.dcsservice" level="info" additivity="false">-->
<!--        <appender-ref ref="Console"/>-->
<!--    </logger>-->

    <logger name="com.usb.pss.dcsservice" level="warn" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>

    <logger name="com.usb.pss.dcsservice" level="error" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>

</configuration>
